DOCKER_REGISTRY=docker-registry.dccn.nl:5000
DOCKER_IMAGE_TAG=latest

# Docker service external port for the webhook server
SERVER_PORT=5115

# persistent data location for webhook server
SERVER_VOL=/data

# webhook postgresql database initialization script
DB_INIT=/init/01-initialize-database.sh

# persistent data location for webhook postgresql database server
DB_VOL=/pgdata

# Externally accessible baseURL for webhook endpoints 
WEBHOOK_BASEURL=https://webhook.localhost:444

# User's home directory
HOME_VOL=/home

# Relay HPC access node settings
RELAY_ACCESS_NODE=relaynode.dccn.nl
RELAY_SSH_PUB=id_rsa.pub
RELAY_SSH_KEY=id_rsa
RELAY_CONNECTION_TIMEOUT_SECONDS=30
RELAY_JOB_SCHEDULER=torque

# Database settings
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=someuser
POSTGRES_PASSWORD=somepassword
POSTGRES_DATABASE=somedatabasename
