# HPC webhook server settings
HPC_WEBHOOK_HOST=hpc-webhook.dccn.nl
HPC_WEBHOOK_INTERNAL_PORT=5111
HPC_WEBHOOK_EXTERNAL_PORT=443
HOME_DIR=/home
DATA_DIR=/data
PRIVATE_KEY_FILE=/run/secrets/hpc_webhook_private_key
PUBLIC_KEY_FILE=/run/secrets/hpc_webhook_public_key

# Relay computer node settings
RELAY_NODE=relaynode.dccn.nl

# Database settings
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=someuser
POSTGRES_PASSWORD=somepassword
POSTGRES_DATABASE=somedatabasename
PGDATA=/data/postgres