# Qaas server settings
QAAS_HOST=qaas.dccn.nl
QAAS_PORT=5111

# Relay computer node settings
RELAY_NODE=relaynode.dccn.nl
RELAY_TEST_USER=dccnuser

# Database settings
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=someuser
POSTGRES_PASSWORD=somepassword
POSTGRES_DATABASE=somedatabasename
PGDATA=/data/postgres